*,
*:after,
*:before {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; /* Set general border sizing */
}
 
.clearfix:before,
.cf:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
/* General classes */
.frame {
    position: relative;
    width: 1600px;
    height: 100%;
    margin: 0 auto;

    font-family: sans-serif;
    color:#2b95e0;
}
 body {
    background-color: #F0FFF0;
 }

/* Header */
header {
    position: fixed;
    top: 0; 
    width: 1600px; 
    height: 120px;
    line-height: 120px;
    background-color: #2b95e0;    
    z-index: 999;
}
a {
    text-decoration: none;

}


.main-menu {
   
    float: left;
    overflow: auto;
    width: 1040px;
    margin-top: 30px;



}
.main-menu ul{
     list-style-type: none;
   }

.main-menu li {
    float: left;
    cursor: pointer;

}

.main-menu li a {

    padding: 5px 14px;
    height: 65px;
    margin-left:80px;
    margin-bottom: 10px;
    color:#fff;
    font-size: 1.7em;
   
}

.main-menu li a:hover,
.main-menu li a:focus,
.main-menu li a.active {
 background-color:#ffffff;
 color:blue;

}
.login {
    position: relative;
    float: right;
    width: 120px;
    height: 40px;
    margin-right: 150px;
    margin-top: 70px;
    background-color: #2b95e0;
    border:1px solid white;
    border-radius: 30px;
    
}
.login-input {
    position: absolute;
    left:10px;
    top:6px;
    width:76%;
    height: 76%;
    background-color: #2b95e0;
    color:#fff;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
}
.images{
  
    position: absolute;
    top:-768px;
    left: 790px;
    width: 810px;
    height: 770px;
    
    background-image: url("images/mob_hero.png");
    background-repeat: no-repeat;
    z-index: 996;
      
}

.poster{

    background: #2b95e0;
    padding-left: 80px;
    height: 930px;
   
    

    
}
.poster-title{
    margin-top: 87px;
    padding-top: 120px;
  
    position: relative;
    color:#fff;
    font-size: 4em;
    font-weight: bold;
   
}

.poster-text,  .poster-text1{

    margin-top: 45px;
    position: relative;
    color:#fff;
    width: 550px;
  
    font-size: 1.5em;
   
}
.poster-text1{
    margin-top: 70px;
}
.poster-login1 ,.poster-login2{
    position: relative;
    float: left;
    width: 120px;
    height: 40px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 5px 10px;
    color:#fff;
    text-align: center;
    background-color: #2b95e0;
    border:1px solid white;
    border-radius: 30px;
    cursor: pointer;

}

.poster a:hover,
.poster a.active{
 background-color:#ffffff;
 color:blue;
}
.poster button:hover,
.poster button.active{
 background-color:#ffffff;
 color:blue;
}

.poster-login2{
    padding-top: 10px;
}

.kosa-crta{
     position: relative;
     margin-top: -100px;
    
    border-top: 100px solid transparent;
    border-left: 1600px solid #fff;
    z-index: 998;
}

.apple {
  
    position: relative;
    padding-left: 80px;
    height: 620px;
    border:1px solid white;
    z-index: 997;
    background-color: #fff;

}
.apple-title{
    position: relative;
    margin-top:30px;
    font-size: 2em;
    color:blue;


}
.apple-icon{
    float: left;
    position: relative;
    z-index: 998;
    width: 100%;
    height: 150px;
  
   margin-top: 70px;
   margin-left: 0px;
   opacity: 0.5;

}

.apple-icon-htc{
    margin-bottom: 35px;
    margin-right: 55px;
}
.apple-icon-apple {
    margin-bottom: 25px;
    margin-right: 45px;
    margin-left: 45px;
}

.apple-icon-sony{
    margin:0 55px;
}
.apple-btn,.apple-btn1{
    position: absolute;
    float: left;
    width: 120px;
    height: 40px;
    top: 0px;
    padding: 5px 10px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    background-color: white;
    color: #2b95e0;

}
.apple-btn:hover, .apple-btn1:hover {
    border: 1px solid blue;
    color:blue;
}

.apple-btn1{
    left:230px;
    color:#4f4f4f;
}
 .apple p{
    font-size: 16px;
    padding-right: 90px;
    color:#4f4f4f;

 }


.mob{
    position: absolute;
    height: 860px;
    width: 665px;
    background-image:url("images/mob.png");
    background-repeat: no-repeat;
    top:-520px;
    left:935px;
    z-index: 998;
}


.our-app{
    padding-left: 80px;
    height: 650px;
    background: #2b95e0;
    margin-top: 0;

  
}



.our-app-btn,.our-app-btn1, .our-app-btn2{
    position: absolute;
    float: left;
    width: 120px;
    height: 40px;
    top: 50px;
    margin-left: 450px;
    padding: 5px 10px;
    text-align: center;
    border-radius: 30px;
     cursor: pointer;
    background-color: #2b95e0;
    color:#fff;
    z-index: 998;
   

}
.our-app-btn {
    border: 1px solid white;
    
}


.our-app-btn1{
    left:230px;
   
}
.our-app-btn2{
    left:380px;

}
.our-app button:hover{
 background-color:#ffffff;
 color:#2b95e0;
 z-index: 998;
 font-size: 1em;
 width: 140px;
 transition: 0.5s;
}

.our-app-title{
   
    padding-top: 120px;
    position: relative;
    color:#fff;
    font-size: 4em;
    font-weight: bold;
   
}
.our-app-text{

    margin-top: 45px;
    position: relative;
    color:#fff;
    width: 950px;
    height: 50px;
    font-size: 1em;
   
} 



.our-app-btn3{
    position: absolute;
    width: 120px;
    height: 40px;
    margin-top: 230px;    
    padding-top: 10px;
  
    text-align: center;
    background-color: #fff;
    color:#2b95e0;
    border-radius: 30px;
    cursor: pointer;
    
}
.want{
    position: relative;
    height: 272px;
    background-color: #f5f5f5;

}
.want-title{
    position: relative;
    width: 800px;
    color:#2b95e0;
    font-size: 3.3em;
    margin-left: 80px;
    padding-top: 20px;

}

.want-input{
   
    position: relative;
    border:1px solid #2b95e0;
    width: 220px;
    height: 40px;
    color:#2b95e0;
    text-align: center;
    font-size: 1em;
    border-radius: 30px;
    background-color: #f5f5f5;
    margin-left: 80px;
    margin-top: 25px;
    


}
.humble{
    padding-left: 80px;
    height: 620px;
    background: #fff;
    

     
}

.humble-btn,.humble-btn1, .humble-btn2{
    position: absolute;
    float: left;
    width: 120px;
    height: 40px;
    top: 50px;
    margin-left: 450px;
    padding: 5px 10px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    color:#2b95e0;
    background-color: #fff;
    z-index: 998;

   

}


.humble-btn1{
    left:230px;
   
}
.humble-btn2{
    left:380px;
    
}



.humble-title{
   
    padding-top: 120px;
    position: relative;
    color:#2b95e0;
    font-size: 4em;
    font-weight: bold;
   
}
.humble-text{

    margin-top: 45px;
    position: relative;
    color:#4f4f4f;
    width: 950px;
    height: 50px;
    font-size: 1em;
   
} 
.humble button:hover{
   border:1px solid #2b95e0;
   font-size: 1em;
   

}
.kosa-crta2{
    position: absolute;
    top:619px;
    left: -1px;   
    border-bottom: 80px solid transparent;
    border-right: 1604px solid #fff;
    z-index: 998;
}

#contact-map {
    float: left;
    position: relative;
    margin-top: 0;
    margin-left: 0;
    width: 800px;
    height: 920px;
}
.contact { 
    float: left;
    position: relative;
    width: 800px;
    height: 920px;
    background-color:#2b95e0; 

} 
.contact-frame{
    width: 587px;
    height: 787px;
    margin-top: 120px;
    margin-left: 80px;
    color:#fff;
}
.contact-title {
    font-size: 2.6em;
    margin-bottom: 30px;
}
.contact-frame p{
    font-size: 1.2em;
}
.contact-info-btn, .contact-info-btn2{
    position: relative;
    width: 190px;
    height: 35px;
    padding: 10px 50px;
    top: 30px;
    padding-bottom: 8px;
    background-color: #2b95e0;
    border-radius: 30px;
    border:1px solid #fff;
    color:#fff;
    cursor: pointer;
    text-align: center;
}
.contact-info-btn {
    padding-right: 20px;
}
.contact-info-icon {
    position: absolute;
    width: 300px;
    height: 300px;
   background-image:url("images/slicica.png");
   background-repeat: no-repeat;
}
.contact-info span{
    
    margin-left: 25px;
    font-size: 1.3em;

}
.contact-addres{
    position: relative;
    margin-top: 50px;

}
.contact-input {
    position: relative;
    width: 600px;
}
.contact-input-email, .contact-input-subject, .contact-input-msg {
    position: relative;
    width: 580px;
    margin-top: 20px;
    padding: 10px 10px;
    background-color: #0580A2;
    color:#fff;

}   
  .contact-input-msg{
    height: 280px;
  }
